# KiCAD files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.net
*.dsn
fp-info-cache
_autosave*.kicad_pcb

# Proprietary 3d model (for KiCAD)
**/proprietary/*.stp
**/proprietary/*.step

# PlatformIO
.pio/

# General build outputs
build/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

__pycache__

