// Rename this file to secrets.h and add your secret details.

// Network setup
#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "supersecretpassword"

#define HOSTNAME "smartknob" // e.g. smartknob.local

#define MQTT_SERVER "10.0.0.2"
#define MQTT_USER "mqttuser"
#define MQTT_PASSWORD "megasecretpassword"
#define MQTT_COMMAND_TOPIC "smartknob"
